nav.navbar.navbar-expand-md.navbar-dark.bg-dark {
  background: #272627;
  color: #fff;
  padding: 10px 15px;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-3 {
  background: #212022;
  color: #fff;
}
.card {
  background: #343334;
  color: #fff;
}
.card-body {
  padding: 1px 10px;
}
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12 {
  background: #272627;
}
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-6 {
  background: #343334;
}
.MuiGrid-grid-xs-6 .card {
  background: #272627;
  margin: 10px 0;
  padding: 15px;
}
.txt-white{
  color: #fff;
}
.txt-blue{
  color: #2CA1B3;
}
ul.list-menu {
  list-style: none;
}
li.list-item {
  margin: 20px 0;
}
li.list-item:hover {
  color: #2CA1B3;
  cursor: pointer;
}
.fa-icon{
  margin-right: 5px;
  font-weight: 400;
}
body{
  overflow-x: hidden;
}
.polytrade{
  padding-left: 21px;
}
.navbar-brand{
  font-size: 23px;

}
.cardbody-heading{
  margin-top:0;
}